services:
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    ports:
      - 80:80
    restart: unless-stopped
    env_file:
      - ./frontend/.env

  api:
    build:
      context: ./api
      dockerfile: Dockerfile
    ports:
      - 5000:5000
    restart: unless-stopped
    env_file:
      - ./api/.env
    depends_on:
      - db

  db:
    image: mysql/mysql-server:latest
    environment:
      MYSQL_ROOT_PASSWORD: admin@gamehub
      MYSQL_DATABASE: gamehub-db
      MYSQL_USER: admin
      MYSQL_PASSWORD: admin@gamehub
    ports:
      - 3306:3306