services:
  database:
    image: mysql/mysql-server
    container_name: gamehub_database
    environment:
      - MYSQL_USER=admin
      - MYSQL_PASSWORD=admin@gamehub
      - MYSQL_DATABASE=gamehub-db
      - MYSQL_ROOT_PASSWORD=admin@gamehub
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql

volumes:
  mysql_data:
    driver: local
        